@tailwind base;
@tailwind components;
@tailwind utilities;

a.active div[role="button"] {
  background-color: #44337a;
}
body *:focus-visible {
  outline: none !important;
}

.auth input[type="number"] {
  -moz-appearance: textfield;
}
.auth input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
